<% provide(:title, "Origin") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= image_tag(ENV['AMAZON_IMAGE_PATH'] + "mother.jpg", class: "img-responsive") %>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="origin_text">
      <h1>How it all began</h1>
      <p>
        From the start of the Ashram in 1927, the Mother used flowers in her interactions with the sadhaks who came to see her.
        From an early period, she gave significances to certain flowers. In this way there evolved a language of flowers by which
        the Mother communicated with the sadhaks. Within a few years, she had given names to hundreds of flowers. A list compiled
        by an Ashram gardener in 1930 contained 410 entries.
      </p>
      <p>
        In 1953, a French sadhak edited the Ashram's first book on flowers, <span style="font-style: italic;">'Le role des
        fleurs'</span>. This contained 636 significances. In the early 1970s, the Mother reviewed these significances, changing
        some of them, and added more than 240 new ones. At the same time she gave a brief comment on almost all the flowers.
        The result of this revision was <span style="font-style: italic;">‘Flowers and Their Messages’</span>, issued in 1973,
        which contained 879 significances.
      </p>
      <p>
        In 2000, the ashram published a new book <span style="font-style: italic;">‘The Spiritual Significance of Flowers’</span>
        revising some botanical names and adding 19 new significances discovered in the notebooks of early Ashram gardeners.
      </p>
    </div>
  </div>
</div>
