<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>The Teachings of Flowers</h1>
	<p>This version uses mongodb.</p>
	<%= link_to "Pick", flowers_path, class: "btn btn-lg btn-primary" %>
</div>
