Hey <%= @user.name %>,

<p class="lead">
  Welcome to Flowers!<br/>
  We hope you enjoy the ride!<br/>
  Thanks for adding your email<br/>
  <code><%= @user.email %></code>.
</p>

<small>
  Best,<br/>
  Team Flowers
</small>
