<hr/>
<br/>
<div class="media">
  <% @flowers.each do |flower| %>
    <div class="col-md-4" style="margin-bottom: 4em;">
      <div class="media-left">
        <%= link_to image_tag(flower.thumbnail_url, class: "media-object img-circle", height: '90', width: '95'), flower %>
      </div>
      <div class="media-body media-middle">
        <%= link_to flower.name, flower, class: "flower_name" %>
        <span class="option">
          | <%= link_to "edit", edit_flower_path(flower) %>
          | <%= link_to "delete", flower, method: :delete,
                                          data: { confirm: "Delete this flower?" } %>
        </span>
      </div>
    </div>
  <% end %>
</div>
