<% provide(:title, "All") %>
<h1>List of all flowers</h1>

<ul>
	<% @flowers.each do |flower| %>
		<li>
			<p class="lead">
				<%= link_to flower.name, flower %>
				<!-- add links to edit and delete here -->
				<span class="option">
					| <%= link_to "edit", edit_flower_path(flower) %>
					| <%= link_to "delete", flower, method: :delete,
																					data: { confirm: "Delete this flower?" } %>
				</span>
			</p>
		</li>
	<% end %>
</ul>
