<% provide(:title, "All") %>
<div class="row col-md-4" style="margin: 1em 0; float: right;">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Search">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button">Go!</button>
		</span>
	</div>
</div>
<h1>List of all flowers</h1>

<div class="media">
	<% @flowers.each do |flower| %>
		<br/>
		<div class="media-left">
			<%= link_to image_tag(flower.image_url, class: "media-object", height: '80', width: '90'), flower %>
		</div>
		<div class="media-body media-middle">
			<%= link_to flower.name, flower %>
			<span class="option">
				| <%= link_to "edit", edit_flower_path(flower) %>
				| <%= link_to "delete", flower, method: :delete,
																				data: { confirm: "Delete this flower?" } %>
			</span>
		</div>
	<% end %>
</div>
