
<!-- <%= f.label :email, class: "form_field" %>
<%= f.text_field :email, class: "form-control", placeholder: "Your email" %> -->
<div class="checkbox center">
  <%= f.check_box :subscribed, value: 'Subscribed', checked: @user.subscribed %>
  Subscribe to our newsletter
</div>
