<div class="input-group">
  <%= f.text_field :email, class: "form-control", placeholder: "Your email" %>
  <div class="input-group-btn">
    <%= f.submit "Add", class: "btn btn-danger" %>
  </div>
</div>
