@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	padding-top: 60px;
	position: relative;
	background-color: #fff7f8;
}

section {
	overflow: auto;
}

textarea {
	resize: none;
}

.center {
	text-align: center;
}

.nice_heading {
	clear: both;
	margin: 1em;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
}


/* header */

#logo {
	float: left;
	margin: 0 6px;
	font-size: 1.7em;
	color: #ff4e50;
	letter-spacing: 2px;
	padding-top: 9px;
	text-transform: uppercase;
	font-weight: bold;
	&:hover {
		text-decoration: none;
	}
}

/* home */

.main_heading {
	text-align: center;
	font-weight: 300;
	padding-bottom: 0.5em;
}

.slide {
	width: 100%;
}

.carousel-inner {
	width: 100%;
	max-height: 600px !important;
}

.quote {
	padding: 1.5em;
	background-color: #fff;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	p {
		letter-spacing: 0.7px;
		font-size: 1.3em;
		font-weight: 300;
		padding-bottom: 1em;
	}
	.source {
		font-size: 0.9em;
		font-style: italic;
		font-weight: 200;
	}
}

/* images */

.photo {
	padding: 1em;
	margin: auto;
	display: block;
}

/* footer */

footer {
	padding-top: 1em;
	padding-bottom: 60px;
}

/* forms */

.form_field {
	letter-spacing: 1px;
	font-weight: 300;
	font-size: 1.5em;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

input {
  height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

/* index */

.search_bar {
	float:right;
	margin: 2em 0;
}

.flower_name {
	letter-spacing: 1.2px;
}

.option {
	font-size: small;
	font-weight: lighter;
	letter-spacing: 1.5px;
}

.add {
	letter-spacing: 1px;
	text-align: center;
	margin-top: 2em;
	font-weight: 200;
}

/* flower page */

.flower_heading {
	margin-top: 1em;
	font-weight: 300;
}

.botanical_name {
	font-style: italic;
	letter-spacing: 1px;
}

.flower_subheading {
	clear: both;
	letter-spacing: 1px;
	font-weight: 300;
}

.back {
	letter-spacing: 1px;
	text-align: center;
	margin-top: 2em;
	font-weight: 200;
}
